.user-list {
  // It's annoying trying to search with the width changing
  overflow-y: scroll;
  max-height: 35vh;
}

.user-list thead th {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  border-top: none;
  background: white;
  z-index: 10;
}

.user-list.extended {
  max-height: 50vh;
}

.badge {
  margin-left: 0.5em;
}

.container {
  margin-bottom: 1.5em;
}

.search-group {
  margin-bottom: 0.5em;
}

#search-limits {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.user-card td {
  padding: 0.75rem;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 14em;
  white-space: nowrap;
}
