extends template.pug
block body
  div.player#player
    div.background
      div.image.big-img#big-image-thumb
      div.image.big-img#big-image
      img(src=require("@/icons/left.svg")).control-left.control.hover-controls#left-arrow
      img(src=require("@/icons/right.svg")).control-right.control.hover-controls#right-arrow
      div.others.hover-controls#others.hoverable
