extends template.pug
block content
  h1 FAQ

  h3 What are the rules of your service?
  ul
   li Our servers are in France and our routing server is in Germany, and our main developers reside in US, Turkey and Brazil, so you must conform to US, Turkey, Brazil, France and Germany laws, and the laws of the country you currently reside in.
   li Due to Turkish laws, you can't upload adult content.
   li Our service is provided without any warranty of any sort, from uptime to even keeping a file, and we hold the right to remove any content we don't want to host.
   li Do not share your uploader token with anyone else or publish it anywhere, instead, guide people to the site.
   li Don't do anything that damages the stability of the service. If you want to find exploits, please run a copy of elixire locally or get approval from developers beforehand.
   li Occassionally, we may share your data with third parties for backup, security, rule enforcement and legal reasons. By using our service you agree to this.
   li These rules can be changed at any point, it's the user's responsibility to keep track of the newest rules. By uploading a file, you agree to follow these rules. 

  h3 What privacy features do you offer?
  ul
    li First of all, I'd like to state that I'm aware that this is not the most privacy oriented filehost, however we do our best to inform users of our actions, as seen here. (-Ave)
    li Our service is not based in the United States.
    li Our staff members are located in Turkey, Brazil and United States.
    li We do have staff members in United States that can access prod data and get access to database backups (but not regular backups with just files).
    li All of our staff members can access our admin API, which gives access to various user information.
    li We take backups every 12 hours to Backblaze B2 (which is US based), but both backups are encrypted using PGP with only certain staff members' keys.
    li Our servers are located in France (online.net) and Germany (hetzner).
    li We use Cloudflare, which is a US based company.
    li We comply with GDPR.
    li We do not have a Warrant Canary as they're intended for US based services. We're not US based.
    li We do keep the deleted files for an amount of time for legal reasons, however these files are not viewed by any staff member.
    li We log uploads. The information includes your User ID, filesize and the domain you uploaded to (and when you uploaded it). It does not include your IP address.
    li We do not have any ads or analytics, other than the ones Cloudflare provides, which we can't disable. We did agree to the GDPR Data Processing Addendum on Cloudflare on official domains on May 22 2018.
    li We allow third party domains, and said third party domains are usually hosted on the Cloudflare instances of the domain owner. Said domain providers might not respect the data they get (Cloudflare analytics etc) as well as we do, and we can't enforce their actions.
    li We use 3 letter (or more) filenames with 0-9a-z, and it's possible that some people can brute force filenames on our domains to find which images exist. We offer a paranoid mode that increases the minimum filename length to 8 characters, which should eliminate this issue.
    li We currently allow anyone to access files on the same domain on any subdomain of said domain. For example, #[a(href="https://elixi.re/i/jpr.png") elixi.re/i/jpr.png] also works on #[a(href="https://uwu.elixi.re/i/jpr.png") uwu.elixi.re/i/jpr.png]. This might affect some of your approaches to eliminating the brute force risk. However, there's an issue on repo that aims to fix this behavior. You can access the issue #[a(href="https://gitlab.com/elixire/elixire/issues/44") here].

  h3 Which programs do you support?
  ul
    li We support #[a(href="https://github.com/ArsenArse/KShare") KShare] (linux/mac), #[a(href="https://getsharex.com") ShareX] (windows) and #[a(href="https://gitlab.com/elixire/elixiremanager") ElixireManager.sh] (linux), you can download them on the token menu (see "How can I get token?")
    li We're also supported in #[a(href="https://github.com/theimgguru/tigcap") TIGCap] (linux/mac), although it's not well-maintained.

  h3 I can't log in!
  ul
   li If you just registered, remember that we need to manually accept your account. We usually don't accept people that are not in #[a(href=config.DISCORD_INV) our Discord guild.]
   li Reset your password on the login page. Keep in mind that there's a small bug on frontend that says that it failed even though it sends you an email.
   
  h3 I keep getting logged out!
  ul
   li We use special tokens that last 3 days for security, if you don't check "Keep me signed in".
   
  h3 How can I get a token?
  ul
   li Login, click on your username (on top right corner), go to My Account, click on "Generate Uploader Token", follow instructions.

  h3 How can I use KShare?
  ul
   li Get a token and on the token menu, download KShare config. Add it to KShare with help of #[a(href='https://github.com/ArsenArsen/KShare/wiki/Destinations') this guide.]

  h3 How can I set domain?
  ul
   li Go to the site, click on your username, go to My Account, enter your password, pick a domain from the dropdown, click save, and all future uploads will be on that domain (until you change it).
  
  h3 What can I upload?
  ul
   li Any files with the following mimetypes:
     ul
       li image/png
       li image/jpeg
       li image/gif
       li image/bmp
       li image/x-windows-bp
       li image/webp
       li image/svg+xml
       li audio/webm
       li video/webm
       li text/plain
   li ...as long as they follow the rules, which can be found in the "What are the rules of your service?" section of this page.
   
  h3 How can I get uploader configs?
  ul
    li Go to the site, click on your username, go to My Account, click on "Generate Uploader Token", and enter your password. On the page that'll open, you can find the configs that are generated for you.
    
  h3 Which domains do you have?
  ul
    li Go to homepage to see the scrolling list of domains
    li Go to #[a( href=config.SERVICE_URL + "/api/domains" ) #{config.SERVICE_URL}/api/domains] for json version
    li Go to the My Account page to see domain dropdown

  h3 Can I delete my account?
  ul
    li Yes, go to the "My Account" page.

  h3 Why is the source code on GitLab?
  ul
    li We wanted to develop stuff in private at first until we got everything working and we wanted an organization so no developer would get unfair credit. Due to that, we chose to use Gitlab as Github didn't offer free private repos on organizations.
    li #[a(href="http://www.businessinsider.com/githubs-oval-office-2013-9") I personally believe that github wastes their money a lot] and #[a(href="https://where.coraline.codes/blog/my-year-at-github/") doesn't treat their employees well]. And I believe that it's wrong for the biggest site for open source projects to be closed source itself. (-Ave)
    li #[a(href="https://blog.github.com/2018-06-04-github-microsoft/") Microsoft owns Github]. (-Ave)
    li However, a backup of the code is hosted on a couple other git instances.  We won't announce a list to prevent false claims from taking down all our public source codes.
