extends template.pug
block content
  section.jumbotron.landing-jumbotron.text-center
    .container
      h1.jumbotron-heading #{config.SERVICE_NAME}
      p.lead.text-muted #{config.SERVICE_NAME} is a free, and open-source filehost and link shortener!
      a(href="/login.html").btn.btn-primary.fp-action#frontpage-action Login
      a(href="/signup.html").btn.btn-primary.logged-out-only.fp-action#frontpage-signup Sign up
  section.features.py-3
    .row
      .col-md
        .card
          .card-header Domains
          .card-body
            p.card-text
              | We have over&nbsp;
              span#relative-domain-count 40
              |  vanity domains for you to enjoy and play around with.
              div.marq#domain-list
                div
                  ul#domain-ul
                    li elixi.re
                    li btw-i-use.elixi.re
                    li 9-out-of-10-dentists-recommend.elixi.re
                    li 9-out-of-10-developers-recommend.elixi.re
                    li use.elixi.re
                    li stale-me.me
                    li succ-is-a.stale-me.me
                    li jackoff.racing
                    li stallman.pls-fuck.me
                    li succ.world
                    li welcome-to-the.succ.world
                    li drive-a.xn--6s8h.cf
                    li i.hackforjes.us
                    li xn--cu8ha.tk
                    li fuck-ya.ml
                    li i-use.templeos.net
                    li otp.pharmercy.win
                    li we-are.mercyfuckers.org
                    li we-are-the.mercyfuckers.org
                    li we-are-the.mercyfuckers.org
                    li i.hackforjes.us
                    li end-my.fuckin.life
                    li cursed-images.xyz
                    li i.gerdere.date
                    li i-hate.elixi.re
                    li fuck-u.ml
                    li fuck-x.ml
                    li fuck-xht.ml
                    li shit-on-ht.ml
                    li i-hate-ht.ml
                    li love-oca.ml
                    li i.love-oca.ml
                    li loves-oca.ml
                    li nobody.loves-oca.ml
                    li gdi-f.ml
                    li writing-bots.in-ya.ml
                    li everyone-loves-sht.ml
                    li fuck-ca.ml
                    li fuck-compact-ht.ml
                    li fuck-dht.ml
                    li fuck-oca.ml
                    li i-love-rht.ml
                    li mi-ami.ga
                    li we-hate-jht.ml
                    li s.loell.party
                    li totallynotavir.us

      .col-md
        .card
          .card-header Image Management
          .card-body
            p.card-text See all of your images at a glance with the online file list. You can also delete any images you don't want hosted anymore.
      .col-md
        .card
          .card-header Link Shortening
          .card-body
            p.card-text Additionally, #{config.SERVICE_NAME} supports intuitive link shortening with the same domains as your images.
